.cardgroup::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaa;
}

.cardgroup::-webkit-scrollbar-thumb {
  background: rgb(33, 37, 41);
}

.add-button{
  padding: 4.5px;
  padding-top: 0;
}
